<%- include('partials/header.ejs') %>
<create>
  <div class="createPage py-4">
    <div class="input-group" id="createDiv">
      <div id="nameInputArea">
        <textarea class="form-control" placeholder="Your name" aria-label="With textarea" id="nameInputBox"></textarea>
      </div>
      <div id="titleInputArea">
        <textarea class="form-control" placeholder="Your blog tittle" aria-label="With textarea" id="tittleInputBox"></textarea>
      </div>
      <div id="blogInputArea">
        <textarea class="form-control" placeholder="Type your blog....." aria-label="With textarea" id="blogInputBox"></textarea>
      </div>
      <div id="inputButton">
        <a href="/save">
          <button type="button" class="btn btn-success btn-md px-4 gap-3" id="saveButton">
            Save
          </button>
        </a>
      </div>
    </div>
  </div>
</create>
<%- include('partials/nologofooter.ejs') %>
